@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap');

.list{
    font-family: "Nunito";
    margin-right: 7%;

}

.cabecalhoCard{
    display: flex;
    flex-direction: row;
    width: 38vw;
}

.tituloList{
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #212529;
    padding-top: 20px;


}

.divBotoesList{
    margin-left: 145px;
    
}
.botoesFiltro{
    width: auto;
    height: 40px;
    background: #E9ECEF;    
    color: #343A40;      
    cursor: pointer;
    margin-top: 10px;
    margin-left: auto;
    border: 1.4px solid #E9ECEF;
    border-radius: 8px;
    font-weight: 550;
    font-size: 14px;
    line-height: 19px;
    font-family: "Nunito";
    line-height: 19.1px;
}

.botoesFiltro:hover{
    background-color: #FD377E;
    color:white
}
.divVazia{     
    width: 32vw;
    height: 4vh;
    border-radius: 4px;
    padding: 38px 25px;
    justify-content: space-between;
    font-family: "Nunito";
    border: 1px solid #E9ECEF;
    margin-top: 15px;
    margin-left: 28px;
    text-align: center;
  }

@media only screen and (max-width: 830px) {
 
    .cabecalhoCard{
        margin-left: 40px;
        display: flex;
        flex-direction: row;
        width: 80vw;
    }
    .divBotoesList{
        margin-left: auto;
        width: 55vw;
        
    }
    
    .botoesFiltro{
        width: auto;
        height: 20px;       
       
        font-weight: 550;
        font-size: auto;            
        line-height: 14px;
    }
    
    .tituloList {
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        color: #212529;
        
        margin-left: 25%;
    }
    .divVazia{     
        width: 80vw;
        height: 4vh;
        border-radius: 4px;
        padding: 38px 25px;
        justify-content: space-between;
        font-family: "Nunito";
        border: 1px solid #E9ECEF;
        margin-top: 15px;
        margin-left: 28px;
        text-align: center;
      }
    
   
  }

  